:root {

  /* WHITE */
  --color-dark: #17222F;
  --color-white: #FFF;
  --color-primary: #6D8097;
  --color-orange: #DF9F46
}


.theme--dark .v-application {
  background-color: var(--color-white);
}

.theme--dark.v-navigation-drawer {
  background-color: var(--color-dark);
}

.theme--dark.v-app-bar.v-toolbar.v-sheet {
  background-color: var(--color-dark);
}

.theme--dark.v-application .primary {
  background-color: var(--color-dark) !important;
}